.container {
  background-color: antiquewhite;
  max-width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 40px;
}
.display {
  text-align: right;
  height: 60px;  
  padding: 5px;
  background-color: darkseagreen;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px;
}

#equationDisplay {
  font-size: 12px;
}

#mainDisplay {
  font-size: 24px;
}

.row {
  max-width: 80%;
  margin: 10px 10%;  
}

.button {
  background-color: grey;
  font-size: 2.4rem; 
  padding: 0;
}

.hidden {
  background-color: transparent;
  border-style: none;
}

h4 {
  text-align: center;
  margin: 10px;  
}

